#hero {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 20px;
    height: 100vh;
}

.title-hero-content {
    width: 100vw;
    height: fit-content;
    /* display: inline-flex; */
}

.title-hero {
    font-family: var(--font);
    font-size: var(--title-hero);
    color: var(--bg-color-s);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 8.8px;
    text-transform: uppercase;
}

.img-hero-content {
    position: relative;
    overflow: hidden;
    width: 325px;
    height: 170px;

}

.img-hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 325px;
    height: 189px;
}

.p-hero-div-bt-e {
    grid-row: 4;
}

.p-hero-div-bt,
.p-hero-div-lt,
.p-hero-div-llt,
.anim-img-wrapper {
    display: inline-flex;
    overflow: hidden;
}

.hero-text,
.img-hero {
    transform: translateY(100%);
}

.p-hero-div-lt-e {
    grid-row: 5;
    grid-column: 1;
    justify-self: flex-end;
}



.p-hero-div-pic {
    grid-row: 6;
    grid-column: 2;
}

.p-hero-div-llt-e {
    grid-row: 7;
    grid-column: 3;
}