#hero {
    /* display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: repeat(12, minmax(0, 1fr));
    grid-column-gap: 5px;
    grid-row-gap: 5px; */
    height: 100vh;
    padding-left: 45px;
    padding-right: 45px;
}

.hero-wrapper {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: repeat(12, minmax(0, 80px));
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    height: fit-content;
    width: 100%;
}

.title-hero-content {
    width: 100vw;
    height: fit-content;
    /* display: inline-flex; */
}

.title-hero {
    font-family: var(--font);
    font-size: var(--title-hero);
    color: var(--bg-color-s);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.img-hero-content {
    position: relative;
    overflow: hidden;
    width: 335px;
    height: 170px;

}


.img-hero {
    width: 335px;
    height: 170px;
}

/** ce que j'ai copié sur code pen*/
/* .image-container {
    position: relative;
    overflow: hidden;
    width: 335px;
    height: 189px;
}

.image-container img {
    position: absolute;
    bottom: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    padding: 0;
    width: 335px;
    height: 200px;
} */

/***/


.p-hero-div-bt-e {
    grid-row: 3;
    grid-column: 1;
    width: fit-content;
}

.p-hero-div-bt,
.p-hero-div-lt,
.p-hero-div-llt,
.anim-img-wrapper {
    display: inline-flex;
    overflow: hidden;
}

.hero-text,
.img-hero {
    transform: translateY(100%);
}

.p-hero-div-lt-e {
    grid-row: 4;
    grid-column: 5;
    justify-self: flex-end;
}



.p-hero-div-pic {
    grid-row: 5;
    grid-column: 6;
}

.p-hero-div-llt-e {
    grid-row: 7;
    grid-column: 9;
    width: fit-content;
    height: fit-content;
}

.tag-position-1 {
    display: flex;
    flex-direction: column;
    grid-row: 4;
    grid-column-end: 13;
    justify-self: flex-end;
    width: fit-content;
    height: fit-content;
    /* padding-right: 2rem; */
    opacity: 0;
}

.tag-position-2 {
    display: flex;
    flex-direction: column;
    grid-row: 7;
    grid-column: 6;
    height: fit-content;
    width: fit-content;
    /* padding-top: 1rem; */
    opacity: 0;
}

.tag-style {
    font-family: var(--font);
    font-size: var(--p);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: var(--color-tag);
}

.citation-position {
    display: flex;
    flex-direction: column;
    height: fit-content;
    grid-row: 9;
    grid-column: 1 / span 3;
    opacity: 0;
}

.c-style {
    font-family: var(--font);
    color: var(--color-tag);
    font-size: var(--p);
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}

.citation-position .n-c-style {
    font-family: var(--font);
    color: var(--color-tag);
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    justify-self: flex-end;
}