:root {
    --b-title-load: 120px;
    --l-title-load: 30px;
    --title-hero: 88px;
    --bg-color-f: #F9F3F0;
    --bg-color-s: #76412C;
    --color-black: #000;
    --color-tag: #A4A4A4;
    --font: "Arimo", sans-serif;
    --logo-title: 21px;
    --logo-title-p: 8px;
    --p: 14px;
    --m-navbar: 40px;


    /* tablette*/
    --title-hero-tab: 60px;
    --tag-style: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
}

body {
    height: 10000px;
    background: var(--bg-color-f);
    display: inherit;

}

html.lenis,
html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}